
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.vl {
    border-left: 1.5px solid #fed203;
    height: 60px;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

  .vlformat{
    margin: 10px auto;
    width: 0;
    text-align:center
  }

a{
  color:#203B6A !important;
}
a:hover{
    color:#203B6A !important;
}
